.button {
	padding: 12px 25px;
	width: 170px;
	border-radius: 8px;
	margin-top: 50px;
	opacity: 0;
	font-size: 18px;
	line-height: 18px;
	color: var(--white);
	transition: all 0.2s ease 0s;
	background-color: var(--primary);
	animation-name: animate-button;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	animation-delay: 5.5s;
	animation-fill-mode: forwards;
	cursor: pointer;

	&:hover {
		background-color: var(--primary-dark);
	}

	&:disabled {
		background-color: var(--grey-light);
		cursor: wait;
	}
}

@keyframes animate-button {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}